.canvas-editor-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
canvas {
  display: block;
  width: 100%;
  max-width: 100vw;
  height: auto;
  background: #fff;
  touch-action: none;
  border-radius: 16px;
}
.canvas-controls {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}